{% load static %}
{% load i18n %}
{% load utils %}
<!DOCTYPE html>
<!--[if IE 8]>          <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>          <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->  <html> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% trans 'Стиль і переклад' %}  {% endblock %}</title>
        <meta name="description" content="{% block description %}{% trans 'Збірник стиль і переклад' %}  {% endblock %}" />

        <!-- mobile settings -->
        <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

        <!-- WEB FONTS : use %7C instead of | (pipe) -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />

        <!-- CORE CSS -->
        <link href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        
        <!-- THEME CSS -->
        <link href="{% static 'css/essentials.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/layout.css' %}" rel="stylesheet" type="text/css" />

        <!-- PAGE LEVEL SCRIPTS -->
        <link href="{% static 'css/header-1.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/color_scheme/blue.css' %}" rel="stylesheet" type="text/css" id="color_scheme" />
    </head>

    <!--
        AVAILABLE BODY CLASSES:
        
        smoothscroll            = create a browser smooth scroll
        enable-animation        = enable WOW animations

        bg-grey                 = grey background
        grain-grey              = grey grain background
        grain-blue              = blue grain background
        grain-green             = green grain background
        grain-blue              = blue grain background
        grain-orange            = orange grain background
        grain-yellow            = yellow grain background
        
        boxed                   = boxed layout
        pattern1 ... patern11   = pattern background
        menu-vertical-hide      = hidden, open on click
        
        BACKGROUND IMAGE [together with .boxed class]
        data-background="assets/images/boxed_background/1.jpg"
    -->
    <body class="smoothscroll">

        <!-- wrapper -->
        <div id="wrapper">

            <!-- 
                AVAILABLE HEADER CLASSES

                Default nav height: 96px
                .header-md      = 70px nav height
                .header-sm      = 60px nav height

                .noborder       = remove bottom border (only with transparent use)
                .transparent    = transparent header
                .translucent    = translucent header
                .sticky         = sticky header
                .static         = static header
                .dark           = dark header
                .bottom         = header on bottom
                
                shadow-before-1 = shadow 1 header top
                shadow-after-1  = shadow 1 header bottom
                shadow-before-2 = shadow 2 header top
                shadow-after-2  = shadow 2 header bottom
                shadow-before-3 = shadow 3 header top
                shadow-after-3  = shadow 3 header bottom

                .clearfix       = required for mobile menu, do not remove!

                Example Usage:  class="clearfix sticky header-sm transparent noborder"
            -->
            <div id="header" class="sticky clearfix">
                <div class="block blue height-30"></div>

                <!-- TOP NAV -->
                <header id="topNav">
                    <div class="container">

                        <!-- Mobile Menu Button -->
                        <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                            <i class="fa fa-bars"></i>
                        </button>

                        <ul class="pull-right nav nav-pills nav-second-main">
                            <li>
                                <a href="{% url 'lang' lang='uk' %}">
                                    <img src="{% static 'images/flags/ua.png' %}" alt="Ukrainian" style="margin-bottom: 4px;">
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'lang' lang='fr' %}">
                                    <img src="{% static 'images/flags/fr.png' %}" alt="French" style="margin-bottom: 4px;">
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'lang' lang='en' %}">
                                    <img src="{% static 'images/flags/us.png' %}" alt="English" style="margin-bottom: 4px;">
                                </a>
                            </li>


                        </ul>

                       

                        <!-- Logo -->
                        <a class="logo pull-left" href="/">
                            {#<img src="{% static 'images/logo.png' %}" alt="Style And Translation" style="width: auto; height: 45px;"/>#}
                            <font color="#0c93d2" size="30" class="logo-text"><i>{% trans 'Стиль і переклад' %}</i></font>
                        </a>

                        <div class="navbar-collapse pull-right nav-main-collapse collapse submenu-dark">
                            <nav class="nav-main">

                              
                                <ul id="topMain" class="nav nav-pills nav-main">
                                    <li>
                                        <a href="/">
                                            {% trans 'Головна' %}
                                        </a>
                                    </li>
                                    {% for page in pages|splitq:"2:0" %}
                                        <li>
                                            <a href="{% url 'page' pk=page.id %}">
                                                {{ page.title }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" href="#">
                                            {% trans 'Більше' %}
                                        </a>
                                        <ul class="dropdown-menu">
                                            {% for page in pages|splitq:"2:1" %}
                                                <li>
                                                    <a href="{% url 'page' pk=page.id %}">
                                                        {{ page.title }}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li
                                        
                                </ul>

                            </nav>
                        </div>


                    </div>
                </header>
                <!-- /Top Nav -->

            </div>


            <!-- 
                PAGE HEADER 
                
                CLASSES:
                    .page-header-xs = 20px margins
                    .page-header-md = 50px margins
                    .page-header-lg = 80px margins
                    .page-header-xlg= 130px margins
                    .dark           = dark page header

                    .shadow-before-1    = shadow 1 header top
                    .shadow-after-1     = shadow 1 header bottom
                    .shadow-before-2    = shadow 2 header top
                    .shadow-after-2     = shadow 2 header bottom
                    .shadow-before-3    = shadow 3 header top
                    .shadow-after-3     = shadow 3 header bottom
            -->
            <div class="block blue height-60"></div>

            {% block breadcrumb %}{% endblock %}



{% block content %}{% endblock %}
            




            <!-- FOOTER -->
            <footer id="footer">


                <div class="copyright">
                    <div class="container">
                        &copy; {% trans 'Стиль і переклад' %}
                    </div>
                </div>
            </footer>
            <!-- /FOOTER -->

        </div>
        <!-- /wrapper -->


        <!-- SCROLL TO TOP -->
        <a href="#" id="toTop"></a>


        <!-- JAVASCRIPT FILES -->
        <script type="text/javascript">var plugin_path = "{% static 'plugins/' %}";</script>
        <script type="text/javascript" src="{% static 'plugins/jquery/jquery-2.1.4.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
    </body>
</html>