{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{{ collection.title }}{% endblock %}
{% block description %}{{ collection.title }}{% endblock %}

{% block breadcrumb %}

<section class="page-header page-header-xs" style="padding: 70px 0 10px 0;">
    <div class="container">

        <h1>{{ collection.title|truncatechars:50 }}</h1>

        <!-- breadcrumbs -->
        <ol class="breadcrumb">
            <li><a href="/">{% trans 'Головна' %}</a></li>
            <li class="active">{{ collection.title|truncatechars:30 }}</li>
        </ol><!-- /breadcrumbs -->

    </div>
</section>

{% endblock %}

{% block content %}
<section style="padding-top:30px">
    <div class="container">
        <div class="row">
            <div class="clearfix search-result row">
                <!-- LEFT COLUMNS -->
                <div class="col-md-9 col-sm-9">
                    <div class="col-md-12 nomargin-bottom"><!-- company detail -->
                        <h3 class="nomargin-bottom" >{{ collection.title }}</h3>

                        <ul class="list-inline margin-bottom-10">
                            <li>
                                <i class="fa fa-user"></i> 
                                <span class="font-lato">{{ collection.author }}</span>
                            </li>
                            <li>
                                <i class="fa fa-calendar-plus-o"></i>
                                <span class="font-lato">{{ collection.published|date:"M d, Y" }}</span>
                            </li>
                        </ul>
                        <p> 
                            {{ collection.description|safe }}
                        </p>
                    </div>
                </div>
                <!-- /RIGHT COLUMNS -->
                <div class="col-md-3 col-sm-3">
                    <div style="border:1px solid #e7e8e7">
                        <img class="img-responsive" src="{% if collection.image %}/media/{{ collection.image }}{% else %}static/images/no-image.png{% endif %}" alt="{{ collection.title }}" >
                        <div class="feature-details text-center">
                            <h3><a href="/media/{{ collection.document }}" target="blank"><i class="fa fa-file-pdf-o"></i> {% trans "Збірник" %}</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}