{% extends "base.html" %}
{% load i18n %}



{% block content %}
<section>
    <div class="container margin-top-30">
        <div class="row">
            {% if collection.object_list %}
                {% for item in collection.object_list %}
                    <div class="clearfix search-result row">
                        <!-- LEFT COLUMNS -->
                        <div class="col-md-9 col-sm-9">
                            <div class="col-md-12 nomargin-bottom"><!-- company detail -->
                                <h3 class="nomargin-bottom" ><a href="{% url 'collection' pk=item.id %}">{{ item.title }}</a></h3>

                                <ul class="list-inline margin-bottom-10">
                                    <li>
                                        <i class="fa fa-user"></i> 
                                        <span class="font-lato">{{ item.author }}</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-calendar-plus-o"></i>
                                        <span class="font-lato">{{ item.published|date:"M d, Y" }}</span>
                                    </li>
                                </ul>
                                <p> 
                                    {{ item.description|safe|truncatewords:50 }}
                                </p>
                            </div>
                        </div>
                        <!-- RIGHT COLUMNS -->
                        <div class="col-md-3 col-sm-3">
                            <img class="img-responsive" style="max-height: 200px; width: auto;" src="{% if item.image %}/media/{{ item.image }}{% else %}static/images/no-image.png{% endif %}" alt="{{ item.title }}">
                        </div>
                        <!-- /RIGHT COLUMNS -->
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        {% if collection.has_next or collection.has_previous %}
            <div class="text-center">
                <ul class="pagination pagination-lg">
               {% if collection.has_previous %}
                    <li><a href="?{{ collection.previous_page_number.querystring }}" rel="nofollow">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><a href="#">&laquo;</a></li>
                {% endif %}
                {% for mypage in collection.pages %}
                    {% if mypage %}
                        {% ifequal mypage collection.number %}
                            <li class="active"><a href="#">{{ mypage }}</a></li>
                        {% else %}
                            <li><a href="?{{ mypage.querystring }}" rel="nofollow">{{ mypage }}</a></li>
                        {% endifequal %}
                    {% else %}
                    <li>
                       <a href="">...</a>
                    </li>
                    {% endif %}
                {% endfor %}
                {% if collection.has_next %}
                    <li><a href="?{{ collection.next_page_number.querystring }}" rel="nofollow">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><a href="#">&raquo;</a></li>
                {% endif %}
                </ul>
            </div>
        {% endif %}
    </div>
</section>
<!-- / -->
{% endblock %}