{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{{ page.title }}{% endblock %}
{% block description %}{{ page.title }}{% endblock %}

{% block breadcrumb %}

<section class="page-header page-header-xs" style="padding: 70px 0 10px 0;">
    <div class="container">

        <h1>{{ page.title|truncatechars:50 }}</h1>

        <!-- breadcrumbs -->
        <ol class="breadcrumb">
            <li><a href="/">{% trans 'Головна' %}</a></li>
            <li class="active">{{ page.title|truncatechars:30 }}</li>
        </ol><!-- /breadcrumbs -->

    </div>
</section>

{% endblock %}

{% block content %}
<section style="padding-top:30px">
    <div class="container">
        <div class="heading-title text-center">
            <h2>{{ page.title }}</h2>
            <div class="divider divider-center divider-color nomargin-top"><!-- divider -->
                <i class="fa fa-chevron-down"></i>
            </div>
        </div>
        <div class="row">


            <div class="col-md-12 col-sm-12">


                {{ page.description|safe }}

            </div>

        </div>
    </div>
</section>

{% endblock %}